/* diff reports: display regressions in red */
.vrbar {
    text-align: right;
    color: red;
}

/* diff reports: display improvements in green */
.vgbar {
    text-align: right;
    color: green;
}

td.vwbar, th.vwbar {
    text-align: right;
}

td.vwlbar, th.vwlbar {
    text-align: left;
}

p.blue {
    color: blue
}

.xhprof_micro, .xhprof_percent {
    text-align: right;
}

thead th {
    text-transform: none !important;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 9px 10px;
    text-align: left;
}

@media only screen and (max-width: 1800px) {
    table.responsive {
        margin-bottom: 0;
    }

    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 25%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%;
    }

    .pinned table th, .pinned table td {
        white-space: nowrap;
    }

    .pinned table th {
        height: 60px;
    }

    .pinned td:last-child {
        border-bottom: 0;
    }

    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 1px solid #ccc;
    }

    div.table-wrapper div.scrollable table {
        margin-left: 25%;
    }

    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden;
    }

    table.responsive td, table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

    table.responsive th:first-child, table.responsive td:first-child,
    table.responsive td:first-child, table.responsive.pinned td {
        display: none;
    }
}
